<section id="profile" class="hidden-load">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <profile>
    </div>
  </div>
</section>

<section id="aboutsection" class="hidden-load">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <about>
    </div>
  </div>
</section>

<section id="references" class="section-references hidden-load">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <references>
    </div>
  </div>
</section>

<section id="skills" class="section-skills">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <skills>
    </div>
  </div>
</section>

<section id="abilities">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <abilities>
    </div>
  </div>
</section>

<section id="projects">
  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <projects>
    </div>
  </div>
</section>